In [3]:
#code to calculate root values-quadratic equation
#"ax^2+bx+c=0"

a=eval(input("enter value of a "))
b=eval(input("enter value of b "))
c=eval(input("enter value of c "))

d=(((b**2)-4*a*c)**0.5)
x1=(-b+d)/(2*a)
x2=(-b-d)/(2**a)

print(x1 ,"and",x2)

enter value of a 1
enter value of b -7
enter value of c 10
5.0 and 2.0

In [1]:
#for loop on range function and sequence
#can be used when number of iteration is known
#better is for loop-because it can be implemented on both range function and sequence
#keyword -for
#steps>>>>>
#initialization-starting point
#condition
#updation
#expression
#-----------------------------------------------------------------------------------------
#while loop on condition
#when number of iteration is unknown
#keyword - while
#steps>>>>
#initialization
#condition
#expression
#updation

In [8]:
# range function is iterable object
#number generation
#range stores objects
#number nikalne ki technique ko range bolte h
#range function takes 3 arguements
for i in range(5):
    print(i)
    #ending point

#initialization-start-0
#condition-end-i
#updation-1

#sequence-list,tuple, set, dictionary...

0
1
2
3
4

In [11]:
#even numbers
for i in range(2,21,2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [13]:
#odd numbers
for i in range(1,20,2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

In [15]:
#print table using for loop

n=int(input("enter a number= "))
for i in range(1,11):
    print(n, "x",i,"=",n*i)

enter a number= 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
# print 1 to 100 integers

i=1
while i<=100:
    print(i, end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [24]:
#even
i=2
while (i<=20):
    print(i, end=" ")
    i+=2

2 4 6 8 10 12 14 16 18 20

In [23]:
# print table using while loop

n=int(input("enter a number "))
i=1
while i<=10:
    print(n,"x",i,'=',n*i)
    i+=1

enter a number 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
#sum of n natural numbers
#5 users
#(n*n+1)/2

n=int(input("enter a number: "))

b=((n*n+1)/2)
print(b)

enter a number: 5
13.0

In [26]:
n=int(input("enter a number: "))
b=sum(range(1,n+1))
print(b)

enter a number: 5
15

In [14]:
n=int(input("enter a number: "))
a=0
for i in range(1,n+1):
    a+=i
    print(i, end=" ")
print( "sum is",a)

enter a number: 10
1 2 3 4 5 6 7 8 9 10 sum is 55

In [15]:
n=int(input("enter a number: "))
i=1
s=0
while i<=n:
    s+=i
    i+=1
print(s)

enter a number: 10
55

In [2]:
#factorial sum of n natural numbers

#for
n=int(input("enter a number:"))
a=1
for i in range(1,n+1):
    a*=i
print(a)

enter a number:7
5040

In [7]:
#while
n=int(input("enter a number"))
a=1
i=1
while i<=n:
    a*=i
    i+=1
print(a)

enter a number5
120

In [9]:
#fibonacci
#armstrong
#palindrome 
#pattern printing

In [20]:
#print reverse number

for i in range(100,0,-1):
    print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1